* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #ffffff;
    padding: 20px 0;
}

.menu {
    border: 1px solid #fff;
    width: 70%;
    display: flex;
    justify-content: space-around;

}

.tab-bar-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #ffffff;
    padding: 20px 0;
}

.tab-bar {
    color: deeppink;
    border: 1px solid #fff;
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.big-buttons-container {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.big-buttons {

    background-color: deeppink;

    width: 62%;
    display: flex;
    justify-content: space-around;

}

.big-button {
    width: 16%;
    height: 80px;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-family: 'Shabnam', sans-serif;
    border: none;
    border-radius: 5%;
    background-color: aliceblue;
}

.links {
    border: 1px solid #fff; /* For debugging */
    display: flex;
    justify-content: flex-end;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    float: right;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    flex-direction: row;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.address-grid-container {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
}

.red-back {
    background-color: #BA6768;
    color: white;
}

.address-grid-map {
    background-color: darkred;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
}

.detail-grid-map {
    background-color: #987654;
    flex-direction: row;
    align-items: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.img-circle {
    border-redius: 50%;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;

}

.footer-item {
    display: flex;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.signup {
    margin-left: auto;
}

.search {
    border-radius: 80px;
    background: white url(search.png) left no-repeat;
    padding-left: 17px;
}

.footer-one, .footer-nine, .footer-four {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #59111A;
    flex: 4;
}

.footer-two {
    background-color: #5995DA;
    flex: 6;

}

.footer-five, .footer-seven, .footer-eight {
    background-color: #7775DA;
    flex: 2;
}

.footer-eight {
    align-items: center;
    justify-content: center;
    background-color: #987654;
}

.social {
    display: flex;
}

.direction {
    flex-direction: column;
}

.footer-six {
    align-items: center;
    justify-content: center;
    background-color: #ddd5DA;

}

.button {

    width: 75px;
    height: 25px;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-family: 'Shabnam', sans-serif;
    border: none;
    border-radius: 80px;

}

.register {

    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #666666

}

.login {

    color: #ffffff;
    background-color: #666666;

}

.n {
    background-color: #33691E;
    height: 300px;

}

.register:hover {
    color: #3b55ef;
    border-color: #3b55ef;
    border: 1px solid #3b55ef;

}

.login:hover {
    background-color: #3b55ef;
    color: #ffffff;

}

.search {

    border-radius: 80px;
    background: white url(search.png) left no-repeat;
}

.search:hover {
    background: white url(search-blue.png) left no-repeat;
    border: 1px solid #3b55ef;
}

.register:active {
    color: #3b55ef;
    border: 1px solid #3b55ef;
}

.login:active {
    background-color: #3b55ef;
    color: #ffffff;
}

.brand {
    font-size: 24px;
    font-family: 'Shabnam', sans-serif;
}

.body-grid-container {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    font-family: 'Shabnam', sans-serif;
}
.body-grid-about-container {
    background-color: greenyellow;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    font-family: 'Shabnam', sans-serif;
}
.body-grid {
    background-color: azure;
    width: 62%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.body-grid-about {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.up-right-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #3b55ef;
    flex: 2;
}
.down-right-container{
    border: 1px solid #000000;
    flex: 2    ;
}
.down-left-container{
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.up-left-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.up-right-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.up-right-left{
    flex: 2;
}

.call-us-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.imd-redius {
    border-radius: 80px;
}

.call-us-icon-container {
    display: flex;
    background-color: teal;
    justify-content: space-around;

}

.call-us-icon {

    flex: 1;
}

.call-us-icon-two {
    flex: 3;
}

.map-container {
    display: flex;
}

.address-container {
    flex: 6;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.map {
    flex: 5;
}

.form-container {
    background-color: #666666;
    box-shadow: #666666;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.call {
    display: flex;
    justify-content: flex-start;
}

.three-text {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.te {
    height: 25px;
    width: 100%;
    border-radius: 25px;
}

.sent-container {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: black;
    width: 96%;
}

.your-message {
    width: 525px;
}

.message-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.message-box-length {
    width: 92%;
    height: 100px;
    border-radius: 10px;
}

.sent-button-size {
    width: 22%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main {
    display: flex;
    flex-direction: row;
}

.main-text {
    flex: 6;
}

.mohlat-1 {
}

.pic-container {
    background-color: teal;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex: 8;

}

.pic-row {

    background-color: aqua;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-detail {
    display: flex;
    flex-direction: column;
}